{% extends "base.html" %}
{% load static %}

{% block content %}
</head>

<!--<style>-->
<!--   .bottom_buttons {-->
<!--    position: fixed;-->
<!--    right: 40%; /* Расстояние от правого края окна браузера */-->
<!--    top: 95%; /* Расстояние сверху */-->
<!--    padding: 10px; /* Поля вокруг текста */-->
<!--    background: #1b86c0; /* Цвет фона */-->
<!--    border: 1px solid #333; /* Параметры рамки */-->
<!--   }-->

<!--  </style>-->

<body>

<form action="" method="post">
    {% csrf_token %}
    <table>
        {% for right in cant_do_this %}
            <input hidden name="{{ right.name }}" value="{{right.value}}" id="id_{{ right.name }}">
        {% endfor %}


        {{ contract_form }}
    </table>
    <br>
    <table>
        {{ sum_byn_year_form }}
    </table>
    <hr><hr>
    {{ formset_months.management_form }}
    <table>
        {% for form in formset_months %}
            {{ form }}
        {% endfor %}
    </table>
    <hr><hr>

    {{ formset_quarts.management_form }}
    <table>
        {% for form in formset_quarts %}
            {{ form }}
        {% endfor %}
    </table>
    <hr><hr>

    <table>
    {{ rur_form }}
    </table>
    <div class="bottom_buttons">
        <button type="submit">ОК</button>
        <button type="button" onclick="javascript:history.back()">Отмена</button>
    </div>
</form>

{% endblock %}